* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #e8f0f7;
  padding-top: 60px;
}

.header {
  background-color: rgb(19, 22, 26);
  position: fixed;
  width: 100%;
  top: 0;
  min-height: 60px;
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  min-height: 60px;
}

.logo {
  color: #fff;
  font-size: 23px;
  letter-spacing: -1.5px;
  font-weight: 500;
  position: fixed;
  left: 20px;
}

.nav {
  transition: all 0.3s ease-in-out;
}

.nav-list {
  display: flex;
  column-gap: 40px;
}

.header-content .profile {
  list-style: none;
  position: fixed;
  right: 70px;
}

.nav-item {
}

.nav-link {
  color: #d1d1d1;
  font-size: 15px;
  transition: color 0.4s;
}

.nav-link:hover {
  color: #fff;
}

.hamburger {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 20px;
}

.bar {
  height: 2px;
  width: 27px;
  background-color: #fff;
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.nav--open {
  transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.main-page {
  display: flex;
  flex-direction: column;
}
.main-page-content {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.main-page-content h1 {
  margin-bottom: 10px;
}
.main-page-image {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.main-page-image #poster {
  height: 100%;
  width: 40%;
}

.main-page-description {
  width: 60%;
  width: 100%;
  font-size: clamp(14px, 2vw, 20px);
  line-height: 1.2;
  text-align: justify;
}

.favorite-scene {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.favorite-scene h2 {
  margin-bottom: 10px;
}

.favorite-scene .favorite-scene-description {
  font-size: clamp(14px, 2vw, 20px);
  line-height: 1.5;
  padding-top: 10px;
  text-align: justify;
}

iframe#favorite {
  width: 100%;
}

.character-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}
.character-container h2 {
  margin-bottom: 10px;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  /* scroll-snap-type: x mandatory; */
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  position: relative;
  flex: 1 0 100%;
  scroll-snap-align: start;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.character-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 0.5rem;
  max-width: 40%;
}
.character-info p {
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.episodes {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.episodes h2 {
  margin-bottom: 10px;
}

.episode-title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.episode img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.episode-description {
  margin-bottom: 25px;
  text-align: justify;
  font-size: clamp(14px, 2vw, 20px);
  line-height: 1.2;
  text-align: justify;
}

@media (max-width: 650px) {
  .nav {
    position: fixed;
    top: 60px;
    left: 0;
    background-color: rgb(19, 22, 26);
    width: 100%;
    padding: 10px 0 25px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .nav-link {
    font-size: 14px;
  }

  .hamburger {
    display: block;
  }

  .main-page-image {
    flex-direction: column;
  }
  .main-page-title {
    text-align: center;
    width: 100%;
    margin: 20px 0;
  }

  .main-page-image {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .main-page-image #poster {
    width: 100%;
    max-width: 100%;
    margin: 10px;
    height: auto;
  }

  .main-page-description {
    max-width: 100%;
    padding: 0 15px;
    font-size: 1rem;
  }

  .slide {
    position: relative;
    height: calc(100vw * 9 / 16);
  }

  .slider {
    scroll-snap-type: none;
  }

  .character-info {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    max-width: 60%;
    padding: 1rem;
  }

  .character-info h2 {
    font-size: 1rem;
  }
  .character-info p {
    font-size: 0.8rem;
    line-height: 1.2;
    word-wrap: break-word;
  }
}
