@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: #F0F4FF;
}

ul {
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
    /* gap: 20px; */
    list-style-type: none;
    padding: 0 20px 20px;
}

ul h4 {
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    margin: 10px 0;
    position: relative;
}

ul .line {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    width: 100%;
    transform: scaleX(1);
    transform: translateY(-50%);
    background: #4f52ba;
    transform-origin: right;
    transition-delay: 0.2s;
}

h4 {
    margin-top: 20px;
}

h4 .menu-title,
h4 .general-title,
h4 .account-title {
    opacity: 1;
}

li a {
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #fff;
    font-weight: 500;
    padding: 15px 15px;
    /**/
    text-decoration: none;
    transition: all 0.2s ease;
    text-wrap: nowrap;
    border-radius: 5px;
}

li a:hover {
    background: #fff;
    border-radius: 5px;
    color: #161a2d;
}

.sidebar {
    position: fixed;
    width: 85px;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #161a2d;
    transition: all 0.4s ease;
}

/*yeni*/
ul a .siderbar-items,
.sidebar-header h2 {
    opacity: 0;
}

.sidebar ul .menu-title,
.sidebar ul .general-title,
.sidebar ul .account-title {
    opacity: 0;
}

.sidebar:hover ul .menu-title,
.sidebar:hover ul .general-title,
.sidebar:hover ul .account-title {
    opacity: 1;
}

.sidebar:hover ul .line {
    display: none;
}

.sidebar:hover {
    width: 260px;
    transition: all 0.4s ease;
    
}

.sidebar:hover .siderbar-items,
.sidebar:hover .sidebar-header h2 {
    opacity: 1;
    transition-delay: 0.1s;
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    color: #fff;
}

.sidebar .sidebar-header img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.siderbars-items {
    list-style-type: none;
}